/* ? setting: change engine */
#engine-popup {
  position: absolute;
  right: 130px;
  top: 120px;
  display: none;
  height: fit-content;
  width: fit-content;
  box-shadow: 0 0 0 100vw var(--shadow-color);
  background: var(--main-bg-color);
  border: solid 2px var(--main-color);
  border-radius: 10px;
  z-index: 500;
}
.opened #engine-popup {
  display: block;
}
#google-sec,
#brave-sec,
#bing-sec,
#duckduckgo-sec {
  display: flex;
  align-items: center;
  margin: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
#google-sec:hover,
#brave-sec:hover,
#bing-sec:hover,
#duckduckgo-sec:hover {
  background: var(--icons-hover-color);
  padding: 5px;
  margin: 9px;
  transition: ease-in-out 0.1s;
}
#google-sec:active,
#brave-sec:active,
#bing-sec:active,
#duckduckgo-sec:active {
  background: var(--text-header-color);
  padding: 5px;
  margin: 9px;
  transition: ease-in-out 0.1s;
}
#google-sec > h3,
#brave-sec > h3,
#bing-sec > h3,
#duckduckgo-sec > h3 {
  margin: 0;
  color: var(--text-color);
}
#google-icon-engine,
#brave-search-icon-engine,
#bing-search-icon-engine,
#duckduckgo-search-icon-engine {
  display: block;
  height: 22px;
  width: 22px;
  margin: 0 14px 0 0;
  transition: ease-in-out 0.1s;
}

/* ? change search engine */
/* #google-engine,
  #brave-search-engine,
  #bing-search-engine,
  #duckduckgo-search-engine {
    height: 30px;
    width: 30px;
    margin: 25px 12.5px 0 25px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    transition: ease-in-out 0.1s;
  }
  #google-engine:hover,
  #brave-search-engine:hover,
  #bing-search-engine:hover,
  #duckduckgo-search-engine:hover {
    background-color: var(--icons-hover-color);
    margin: 17px 4.5px 0 17px;
    padding: 8px;
    transition: ease-in-out 0.1s;
  }
  #google-engine:active,
  #brave-search-engine:active,
  #bing-search-engine:active,
  #duckduckgo-search-engine:active {
    background-color: var(--text-header-color);
    margin: 17px 4.5px 0 17px;
    padding: 8px;
    transition: ease-in-out 0.1s;
  }
  #google-engine {
    display: none;
  }
  #brave-search-engine {
    display: none;
  }
  #bing-search-engine {
    display: none;
  }
  #duckduckgo-search-engine {
    display: none;
  } */
